{% extends "layouts/main.html" %}

{% block pageTitle %}
  Your details – Space Travel
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Enter your personal details</h1>

      <form action="/personal-details" method="post">

        <!-- Full name -->
        <div class="govuk-form-group">
          <label class="govuk-label" for="fullName">
            Full name
          </label>
          <input class="govuk-input" id="fullName" name="fullName" type="text" value="{{ data.fullName or '' }}">
        </div>

        <!-- Address -->
        <div class="govuk-form-group">
          <label class="govuk-label" for="address">
            Address
          </label>
          <textarea class="govuk-textarea" id="address" name="address">{{ data.address or '' }}</textarea>
        </div>

        {{ govukButton({ text: "Continue" }) }}

      </form>

    </div>
  </div>
{% endblock %}
